<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta
		http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />

	<title>PROMOTER</title>
	<h:outputStylesheet
		name="style.css"
		library="css" />
</h:head>
<h:body>
	<h:form>

	</h:form>
</h:body>
</html>